.form-card {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background: linear-gradient(to bottom, #f0f0f0, #ffffff); /* Gradiente de cinza claro para branco */
}
  
  .itens-list {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: #ffffff; /* Cor de fundo suave */
  }
  
  .mat-card-header {
    background-color: #e0e0e0; /* Cor de fundo do cabeçalho */
  }
  
  .mat-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .mat-card-content p {
    font-size: 16px;
    color: #555;
  }
  
  button {
    margin-right: 10px;
  }
  .edit-card {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 400px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .itens-list {
    margin-bottom: 15px;
  }
  
  .form-card {
    margin-bottom: 20px;
  }
  .sucesso-notificacao {
    background-color: #4caf50;  /* Cor de fundo verde */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
  }